.btn1 {
    width: 100px;
    height: 40px;
    background: #418dba;
    border-radius: 13px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 650;
    font-size: 25px;
    line-height: 44px;
    color: #1E1E1E;
    text-transform: capitalize;
}