* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

.sub-btn{
    width: 100px;
    height: 40px;
    background-color: #418dba;
    border-radius: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 650;
    font-size: 25px;
    line-height: 44px;
    color: #1E1E1E;
    text-transform: capitalize;
    transition-duration: 0.5s;
    cursor: pointer;
}
.sub-btn:hover{
    background-color: rgb(153, 122, 199);
    color: black; 
    border: 2px solid #008CBA;
    text-shadow: #1E1E1E;
}


img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #418dba;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 700px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}

.links a {
    text-decoration: none;
    color: black;
    list-style: none;
}

.navbar-form {
    margin-right: 150px;
}

.li a{
    text-decoration: none;
}

.nav-search,.form-control{
    border: none;
    border: 3px solid black;
    border-radius: 23px;
    width: 250px;
    height: 40px; 
    text-align: center;
}

.aboutus{
    text-align: center;
}

#login{
    position: relative;
    top: none;
    left: 40%;
}

.text-info{
 color: midnightblue;   
 font-size: 20px;
 font-weight: bold;
}

.text-white{
    font-size: 50px;
    color: blue;
}

.form-group,.text-right{
    margin: 30px;
}

.text-right{
    margin: 70px;
}

.bg{
    background: hsla(206, 70%, 83%, 1);

    background: linear-gradient(180deg, hsla(206, 70%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%);
    
    background: -moz-linear-gradient(180deg, hsla(206, 70%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%);
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #155370;
  }
