{% extends 'userApp/base.html' %}
{% load i18n %}
{% block content %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}

<div class="container text-center" >    
  <div class="row">

    <div id ="main_content" >
      {% for post in posts  %}
      <div class="row"    >
        <div class="col-sm-3">
          <div class="well">
           <p>{{ post.author.first_name }} </p>
           <p>{{ post.post_date}}</p>

           <img src="../media/{{ post.author.profile.avatar }}" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well text-left">
            <h3>{{ post.title}},Date:{{ post.post_date }}</h3>
            <p >Tag: {{ post.tag.all|join:", " }},</p>
            <p>    <i class="fas fa-eye"></i>
              Views: {% get_hit_count for post %}</p>

            <div>
            {{ post.body|safe|truncatewords:"50"|linebreaks }}
            </div>
            <a href="{% url 'post' post.id %}">read more</a>

            {% if user.username in post.like.all|join:", " %}
            <p>
            <button type="button" class="dislike btn-success btn-sm" data ="{{post.id}}"  id = "like{{post.id}}">
              <i id = "icon{{post.id}}" class="fa fa-thumbs-down"></i>
            </button>
            {% else %}
            <p><button type="button" class="like btn-default btn-sm" data ="{{post.id}}" id = "like{{post.id}}">
              <i id = "icon{{post.id}}" class="fa fa-thumbs-up"></i>
            </button>

            {% endif %}
          :<span><b id = 'likedisplay{{post.id}}'> {{ post.like.count}}</b></span></p>
          
          <button class="comment btn btn-large btn-primary" data1 ="{{post.id}}" >Comment
          {% for comment_f in comment_filter %}

            {% if comment_f.post_id == post.id %}
            <span id="total_comment{{post.id}}"> 

            ({{ comment_f.total }})           </span>


            <input type="hidden" class = "total_comment_display{{post.id}}" value="{{ comment_f.total }}" />
                        
            {% endif %}

          {% endfor %}

          <span id="total_comment{{post.id}}"> 

            {{ comment_f.total }}
          </span>


            <input type="hidden" class = "total_comment_display{{post.id}}" value="{{ comment_f.total }}" />
            
          </button><br><br>
          <div id ="comment{{ post.id }}" style="display:none;" data ="{{post.id}}" >
            <textarea  class ="comment{{post.id}}" ></textarea><br>
            <input type="submit" class="comment_btn" value ="submit" data1 ="{{post.id}}" id = "like{{post.id}}"/>
                    <br>
                    <h2>Comment....</h2>
                   
                        {% for i in comment %}
                          {% if i.post_id == post.id and i.parent_id == None %}
                          <span id="comment_detail{{post.id}}">
                             <strong>{{ i.user.username }}- {{ i.date }}</strong><br>
                               {{ i.comment }}<hr>
                            
                              </span> 
                            <button class="reply btn btn-large btn-primary" data1 ="{{i.id}}">Reply</button><br>
                          
                            <div id ="reply{{ i.id }}" style="display:none;" data ="{{ i.id}}" >
                            <textarea  class ="reply{{ i.id}}" ></textarea><br>
                            <input type="submit" class="reply_btn" value ="submit" data1 ="{{ i.id}}" id = "comment{{post.id}}"/>
                            <input type="hidden" class="post" id ="post" value="{{ post.id }}">
        
                            <br>
                            {% for j in comment %}

                            {% if j.parent_id == i.id %}
                            <span>Reply By:</span>

                            <span id="reply_detail{{i.id}}">
                          

                              <strong>{{ j.user.username }} - {{ j.date }}</strong><br>
                                {{ j.comment }}<hr>
                            </span>
                            {% endif %}

                            
                            {% endfor %}
                            
                            <span>Reply By:</span>

                            <span id="reply_detail{{i.id}}">
                          

                              <strong>{{ j.user.username }} - {{ j.date }}</strong><br>
                                {{ j.comment }}<hr>
                            </span>
                            
                                   </div>
                   <hr>

                         {% endif %}

                        {% endfor %}
                 <br> <span id="comment_detail{{post.id}}">
                    <strong>{{ i.user.username }} - {{ i.date }}</strong><br>
                      {{ i.comment }}<hr>
                    </span>

                   
              </div><br>
            <input type="hidden" class="user" value="{{ user.username}}" />
          </div>
        </div>
      </div>
    {% endfor %} 

    {%	include	"userApp/pagination.html"	with	users=posts	%}
  
    </div>
    {% include "userApp/search_result.html" %}




    
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/like_comment.js' %}"></script>
<script src="{% static 'js/search.js' %}" ></script>
{% endblock %}