{% extends 'userApp/base.html' %}
{% load hitcount_tags %}

{% block content %}

<div class="container text-center">    
  <div class="col-sm-7">
    {% for post in post  %}
    <div class="row" id ="blogdetail{{post.id}}">
      <div class="partication1">
        <div class="col-sm-3">
          <div class="well">
            <img src="../media/{{ post.author.profile.avatar }}" class="img-circle" height="55" width="55" alt="Avatar">
           <p class="profile-name">{{ post.author.first_name }} </p>
           <small>{{ post.post_date}}</small>
           
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well text-left">
            <p class="profile-name">{{ post.title}}</p>
     
<small>
          <span><b>Total Like:{{ post.like.count   }}</b></span></p>
          {% if post.status == False %}
          <span><b>Status : Pending....</b></span>
          {% else %}
          <span><b>Status : Approved</b></span>
          {% endif %}

        </p>
          <p> <i class="fa fa-eye"></i>
            <b>Views: {% get_hit_count for post %} </b></p>
          </small>

        <a class="btn btn-succ" href="{% url 'update_blog' post.id  %}" >Edit</a>
        <a href="#" class="delete btn btn-success" id="deletebtn{{post.id}} data={{post.id}}"> Delete</a>
          </div>
          </div>
        </div>
      </div>
    {% endfor %} 

    </div>
    
  </div>
</div>
{% endblock %}
{% block javascript %}

<script>
$(document).ready(function(){
  
  $('.delete').click(function(){
    id = $(this).attr('data')

                swal({
                          title: "Are you sure?",
                          text: "Once deleted, you will not be able to recover this Blog!",
                          icon: "warning",
                          buttons: true,
                          dangerMode: true,
                        })
                      .then((willDelete) => {
                          if (willDelete) {
                            swal("Poof! Your Blog file has been deleted!", {
                              icon: "success",
                              
                            });
            
                          $.ajax({
                              type:'GET',
                              url : '{% url "ajax_deleteblog" %}',
                              data:{
                                  'post_id': id,
                              },
                              success:function(data){
                                $('#blogdetail'+id).remove();

                              }
                          })

                          } else {
                            swal("Your Blog  is safe!");
                          }
                        });

           
        })
})
</script>
{% endblock %}