.profile-container{
    display: flex;
    max-width: 400px;
}
.profile-data{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0px 24px;
}
.profile-name{
    font-weight: 800;
}
.add-block{
    border: none;
    border: 3px solid black;
    border-radius: 23px;
    text-align: center;
}