.container {
    /* background: hsla(206, 70%, 83%, 1);

    background: linear-gradient(180deg, hsla(206, 70%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%);

    background: -moz-linear-gradient(180deg, hsla(206, 70%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%); */
    background-image: url(./Frame\ 9.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
}

.post-blog {
    display: flex;
    border: 2px solid black;
    margin: 16px;
    max-width: 80vw;
    border-radius: 24px;
    box-shadow: 0 5px 20px black;
    backdrop-filter: blur(3px);
}

.post-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    align-items: center;
    justify-content: center;
}


.well {
    /* border: 2px solid black; */
    padding: 10px 20px;
    min-width: 400px;
    /* margin: 10px 20px; */
}

.divider {
    border-right: 2px solid black;
}

.blog-part-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    justify-content: space-around;
    height: 100%;
    max-height: 200px;
}
.img-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    margin: 0px 0px 32px 0px;
}
.post-title{
    font-size: 28px;
}
.user-title{
    font-size: 28px;
    font-weight: 700;
}
.part-1-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog-content{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.views{
    font-size: 18px;
}
.tags{
    margin-bottom: 10px;
}
.read{
    text-decoration: none;
    color: blueviolet;
    font-weight: 600;
}
.read:hover{
    color: rgb(64, 0, 123);
}
.like-btn{
    width: 48px;
    height: 38px;
    font-size: 24px;
    border: none;
    border: 2px solid black;
    margin: 10px 0px;
    border-radius: 10px;
    background-image: linear-gradient(92.88deg, #7d9ef3 9.16%, #418dba 98.72%);
    box-shadow: 0 2px 20px rgb(4, 49, 100);
}
.comment-btn,.comment-sub{
    width: 100px;
    height: 38px;
    border: none;
    color: rgb(230, 230, 230);
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px 0px;
    background-color: rgb(51, 51, 216);
    box-shadow: 0 2px 20px rgb(4, 49, 100);
}
.comment-btn:active,.like-btn:active,.comment-sub:active{
    box-shadow: 0 0px 0px black;
}
.like-count{
    font-size: 22px;
}