{% extends 'accountApp/base.html' %}
{% block headcontent %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% endblock %}
{% block content %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Blog Registration</h1>

          <hr class="mt-0 mb-4">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{userform.error}}
            

            <div class="form-group">
              <label for="email">Username:</label>
              {{ userform.username }}
            </div>
           

            <div class="form-group">
              <label for="email">Email address:</label>
              {{ userform.email }}
            </div>

          <div class="row">
            <div class="col-6">
              firstname
              {{ userform.first_name }}
            </div>
            <div class="col-6">
              last name
              {{ userform.last_name }}
            </div>
          </div>
          <br>

          <div class="row">
          <div class="col-6">
            Password
          {{ userform.password }}
          </div>
            <div class="col-6">
              mobile no
              {{ profileform.mobileno }}
            </div>
          </div>
          <br>

            
            <div class="col">
              Profile Image
              {{ profileform.avatar }}
               <img id="my_image" src="#"/>
            </div>
            <br>
          
          <div class="col">
            <div class="col-6">
              {{ profileform.birth_date }}
            </div>
          </div>
          <br>


            <div class="col-6">
              location
              {{ profileform.location }}
            </div>
            <br>
          

            <div class="col-6">
              Profile Bio
          {{ profileform.bio }}
            </div>
          <br>

          <button type="submit" class="btn btn-success">Register</button>
        </form>
        </div>
      </div>
    </div>
{% endblock %}
{% load static %}
{% block javascript %}
<script>
  $(document).ready(function(){
    function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#my_image').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }
  $('.clearablefileinput').change(function(){
      readURL(this);

  });

  })
</script>
{% endblock %}
