{% extends 'userApp/base.html' %}
{% load i18n %}
{% block content %}
<div class="container text-center"> 
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well profile-container">
        <img src="../media/{{ user.profile.avatar }} " class="img-circle" height="65" width="65" alt="{{ user.first_name }}">
        <div class="profile-data">
          <p class="profile-name">{{ user.first_name }}</p>
          <p>{{ user.profile.mobileno }}</p>
          <p>{{ user.profile.location }}</a></p>
          <p>{{ user.profile.bio }}</p>
      </div>
    </div>
      
    </div>
    <div class="col-sm-7">
    <form method="POST">
        {% csrf_token %}
       <div class="add-block">
      {{ postform.media }}
      {{ postform.as_p}}</div>
      <input type="submit" class="add-block-submit" name="submit" value="Submit" /> 
    </form>  
    </div>
    <div class="col-sm-2 well">
      
    </div>
  </div>
</div>
{% endblock %}
