{% load i18n  %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog</title>
  <meta charset="utf-8">
<link rel="stylesheet" href="{% static 'login.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
  {% block headcontent %}
  {% endblock %}
</head>
<body class="bg">
<div class="nav">
<nav class="navbar navbar-inverse">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                       
      </button> 
      {%load static%}
      <a class="navbar-brand" href="{% url 'login' %}"><img class="logo" src="{% static 'logo.png' %}"></a>
      <ul class="nav-links">
        <li class="links"><a href="{% url 'register' %}">Home</a></li>
        <li class="links"><a href="{% url 'register' %}">Register</a></li>
        <li class= "links"><a href="{% url 'login' %}">My Account</a></li>
        </ul>
      <form class="navbar-form navbar-right" role="search">
          <input type="text" class="form- nav-search" placeholder="Search..">
          </span>        
      </form>

</nav>
</div>

        {% block content %}
        {% endblock %}
      

<footer class="container-fluid text-center aboutus">
  <p><h2>About Us</h2>Welcome to our blog management system! We've created a user-friendly platform that makes it simple for you to create and manage your blog.<br>
    With easy-to-use features and customization options, you can focus on writing great content while we take care of the technical aspects.<br>
    Our goal is to help you reach a wider audience and make your blogging experience enjoyable and hassle-free.
  </p>
</footer>
{% block javascript %}
{% endblock %}
</body>
</html>
