<div style = "background: hsla(206, 70%, 83%, 1);

background: linear-gradient(180deg, hsla(206, 70%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(206, 70%, 83%, 1) 0%, hsla(229, 89%, 62%, 1) 100%); color:darkblue; font-size: 25px;
font-family: Georgia; ">

{%  extends "userApp/base.html" %}
{% block headcontent %}

{% endblock %}
{% block content %}


{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
    <div >{{ error }}</div>
{% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
{{ form }}
<br>
<br>
<input style=" width: 205px;
background-color: #418dba;
border-radius: 13px;
font-family: Georgia;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
color: #1E1E1E;
text-transform: capitalize;
transition-duration: 0.5s;
cursor: pointer;" type="submit" name="submit" value="Change Password" />
</form>
<br>
</div>
{% endblock %}
