{% extends 'accountApp/base.html' %} {% block headcontent %} {%load static%}
<link rel="stylesheet" href="{% static 'register.css'%}" />
{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 blogtitle">
      <h1 class="mt-2 title-form">Blog Registration</h1>

      <div class="partication">
        <div class="parc">
          <form method="POST" enctype="multipart/form-data" class="formcss">
            <table>
              {% csrf_token %} {{userform.error}}

              <tr>
                <td><label for="email">Username</label></td>
                <td>{{ userform.username }}</td>
              </tr>

              <tr>
                <td><label for="email">Email address</label></td>
                <td>{{ userform.email }}</td>
              </tr>

              <tr>
                <td>firstname</td>
                <td>{{ userform.first_name }}</td>
              </tr>

              <tr>
                <td>Last name</td>
                <td>{{ userform.last_name }}</td>
              </tr>

              <tr>
                <td>Password</td>
                <td>{{ userform.password }}</td>
              </tr>

              <tr>
                <td>mobile no</td>
                <td>{{ profileform.mobileno }}</td>
              </tr>
            </table>
            <table>
              <tr>
                <td>Profile Image</td>
                <td>{{ profileform.avatar }}</td>
                <td><img class="image" id="my_image" src="#" /></td>
              </tr>

              <tr>
                <td>Birth Date</td>
                <td>{{ profileform.birth_date }}</td>
              </tr>

              <tr>
                <td>Location</td>
                <td>{{ profileform.location }}</td>
              </tr>

              <tr>
                <td>Profile Bio</td>
                <td>{{ profileform.bio }}</td>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-success">
                    Register
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    {% endblock %} {% load static %} {% block javascript %}
    <script>
      $(document).ready(function () {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $("#my_image").attr("src", e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".clearablefileinput").change(function () {
          readURL(this);
        });
      });
    </script>
    {% endblock %}
  </div>
</div>
